.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* background:#263343; */
  background-color: var(--color-bg);
  padding: 15px 70px;
}

.menu {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin: auto;
}

.logo {
  display: flex;
  font-size: 40px;
  font-family: 'Noto Sans KR', sans-serif;
  /* color: white; */
  color: var(--color-text);
  align-items: center;
}

.text {
  margin: 10px;
  font-weight: bold;
}

.icon {
  padding: 0 0 5px 0;
}

.listitem {
  margin: 0 10px;
}

.button {
  border: none;
  background-color: transparent;
  /* color:aliceblue; */
  color: var(--color-text);
  opacity: 0.5;
  font-size: 25px;
  font-weight: bold;
}

.button:hover,
.button.selected {
  opacity: 1;
}

.button.selected::after {
  content: '';
  display: block;
  margin-top: 0.2rem;
  border: 1px solid var(--color-text);
}

.toggleBtn {
  display: none;
}


@media screen and (max-width: 1075px) { /*영상에선 768px*/
  .navbar {
      flex-direction: column; /*기존은 row, column으로 아래로 내림*/
      align-items: flex-start; /*왼쪽으로 이동*/
  }
  .menu{
      display: none; /*화면에서 사라짐*/
      flex-direction: column;
      align-items: center; /*중앙배치*/
      width: 100% /*align-items가 반응하지 않는 부분을 width가 보완*/
  }
  .menu li{ /*hover부분이 넓어짐*/
      width: 100%; 
      text-align: center;
  }
  .navbar_icons {
      display: none; 
      justify-content: center; /*중앙 배치*/
      width: 100%;
  }
  .toggleBtn{/*화면이 작아질때만 표시되도록 함*/
      display: block;
      border: none;
      background-color: transparent;
      color:aliceblue;
      font-size: 27px;
      opacity: 0.8;
      position: absolute;
      right: 32px;
      top: 50px;
  }
  .toggleBtn:hover {
    opacity: 1;
  }
  .menu.active,
  .icons.active { /*navbar_toogleBtn이 클릭시 활성화*/
      display: flex;  
  }
}
